{% extends "base.html" %}

{% block head %}
<title>Expenses Tool</title>
{% endblock %}

{% block body %}
<nav class="navbar" id="navbar">
    <div class="logo"><h1>Expenses Tool</h1></div>
    <div class="nav-menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Add Expenses</a></li>
            <li><a href='#'>Add Income</a></li>
        </ul>
    </div>
</nav>
<div class="main_div">
    <div class="main-1">
        <h1>Total Expanses</h1>
        <form method="POST" action="/">
            <input type="text" name="customer">
        </form>
    </div>
</div>
{% endblock %}
