{% extends 'base.html' %}

{% block head %}
<title>Signup</title>
{% endblock %}

{% block body %}
<!-- Main Container -->
<main class="main-container">
    <!-- Info Section -->
    <section class="info-section">

      <h1> Expenses Management Tool</h1>
      <p> A web application designed to help users track their income, expenses, and savings.
         Users can categorize expenses, set budgets, and generate detailed reports to gain insights into their spending habits.</p>
    </section>
    <section class="form-section">
      <!-- Form -->
      <form class="main-form" action="{{ url_for('signup') }}" method="POST">
        <!-- Username-->
        <div class="input-field">
          <input class="first-name" id="first-name" type="text" placeholder="First Name" name="first_name" required>
          <div class="first-name-error"></div>
          <label for="first-name" class="name-label"></label>
        </div>
        <!-- Lastname -->
        <div class="input-field">
          <input class="last-name" name="last_name" type="text" placeholder="Last Name" required>
          <div class="last-name-error"></div>
          <label for="last-name" class="lastname-label"></label>
        </div>
        <!-- Email -->
        <div class="input-field">
          <input class="user-email" type="email" name="email" placeholder="Email Address" required>
          <div class="user-email-error"></div>
          <label for="user-email" class="email-label"></label>
        </div>
        <!-- Password -->
        <div class="input-field">
          <input class="user-pass" type="password" placeholder="Password" name="password" required>
          <div class="user-pass-error"></div>
          <label for="user-pass" class="pass-label"></label>
        </div>
        <div class="input-field">

          <button class="submit-info" id="submit-info" type="submit" href="{{ url_for('direct_signup') }}">Signup for Free</button>
          <label for="submit-info" class="success-msg"></label>
        </div>
        <label class="tnc" for="submit-info"> By clicking the button, you are agreeing to our <a href="">Terms and
            Services</a>
        </label>
      </form>
    </section>
  </main>

  <script src="app.js"></script>
{% endblock %}